@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.25em;
    background-color: white;
}
.expand-header {
    border: none;
    background-color: transparent;
    height: 50px;
    cursor: pointer;
}
body {
    margin: 66px 12.5% 16px 12.5%;
    border-radius: 8px;
    padding: 8px;
    background-color: #C7C7C7;
}
.header {
    background-color: red;
    height: 50px;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    transition: height 0.5s ease-in-out;
}
td .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
table {
    width: 100%;
    height: 50px;
    table-layout: fixed;
}
.header-content a, .header-content a:link, .header-content a:visited {
    color: inherit;
    text-decoration: none;
}
a:link, a:visited, a:active {
    color: red;
}
@media (max-width: 639px) {
    .header-content-container {
        display: none;
        max-height: 100%;
    }
    .header-content-container[expanded="true"] {
        display: block;
    }
    .header[expanded="true"] {
        overflow-y: scroll;
        height: 100%;
    }
    .header-content-container td {
        display: block;
    }
    .header-content {
        height: 50px;
    }
    body {
        margin: 66px 16px 16px 16px;
    }
}
@media (min-width: 640px) {
    .expand-header {
        display: none;
    }
}
code, pre {
    font-family: 'Cascadia Mono', monospace;
}
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
        background-color: black;
        color: white;
    }
    body {
        background-color: #383838;
    }
}
