@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}
.expand-header {
    border: none;
    background-color: transparent;
    height: 50px;
}
body {
    margin-top: 50px;
}
.header {
    background-color: red;
    height: 50px;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.header {
    height: auto;
}
td .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
table {
    width: 100%;
    height: 50px;
    table-layout: fixed;
}
.header-content a, .header-content a:link, .header-content a:visited {
    color: inherit;
    text-decoration: none;
}
a:link, a:visited, a:active {
    color: red;
}
::selection {
    background-color: red;
    color: white;
}
@media (max-width: 639px) {
    .header-content-container {
        display: none;
        max-height: 100%;
    }
    .header-content-container[expanded="true"] {
        display: block;
    }
    .header[expanded="true"] {
        overflow-y: scroll;
        height: 100%;
    }
    .header-content-container td {
        display: block;
    }
    .header-content {
        height: 50px;
    }
}
@media (min-width: 640px) {
    .expand-header {
        display: none;
    }
}
code, pre {
    font-family: 'Cascadia Mono', monospace;
}
