html {
    font-family: 'Segoe UI', Arial, Roboto, sans-serif;
}
body {
    margin-top: 50px;
}
.header {
    background-color: red;
    height: 50px;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
td .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
table {
    width: 100%;
    height: 50px;
    table-layout: fixed;
}
.header a, .header a.link {
    color: inherit;
    text-decoration: none;
}
@media (max-width: 640px) {
    .header-table-small {
        display: inline-block;
    }
    .header-table-large {
        display: none;
    }
}
@media (min-width: 640px) {
    .header-table-small {
        display: none;
    }
    .header-table-large {
        display: inline-block;
    }
}
