html {
    font-family: 'Segoe UI', Arial, Roboto, sans-serif;
}
.expand-header {
    border: none;
    background-color: transparent;
}
body {
    margin-top: 50px;
}
.header {
    background-color: red;
    height: 50px;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.header[expanded="true"] {
    height: auto;
}
td .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
table {
    width: 100%;
    height: 50px;
    table-layout: fixed;
}
.header-content a, .header-content a:link, .header-content a:visited {
    color: inherit;
    text-decoration: none;
}
@media (max-width: 640px) {
    .header .header-content-container {
        display: none;
    }
    .header-content {
        height: 50px;
    }
}
@media (min-width: 640px) {
    .header-table-small {
        display: none;
    }
    .expand-header {
        display: none;
    }
}
